{% extends 'main.html' %}
{% block content %}
<div class="signinpage">

    {% if messages %}
        <div id="messages">
            {% for i in messages %}
                <p><i class="fa-solid fa-circle-info"></i> {{ i }}</p>
            {% endfor %}
        </div>
        <script>
            setTimeout(function(){
                document.getElementById('messages').style.display='none';
            }, 3000);
        </script>
    {% endif %}

    <h2>🔑 Login</h2>

    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="👤 Username" required>  <br> <br> 
            <input type="password" name="password" placeholder="🔒 Password" required> <br> <br>
            <button type="submit"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">📝 Register Here</a></p>
    </div> 

</div>
{% endblock %}
