{% extends 'main.html' %}
{% block content %}
<div class="update_password">
{% if messages %}
    <div id="messages">
        {% for i in messages %}
            <p><i class="fa-solid fa-circle-info"></i> {{ i }}</p>
        {% endfor %}
    </div>
    <script>
        setTimeout(function(){
            document.getElementById('messages').style.display = 'none';
        }, 3000);
    </script>
{% endif %}

<h2><i class="fa-solid fa-key"></i> Update Password 🔐</h2>

<form action="" method="POST">
    {% csrf_token %}

    <input type="password" name="old_password" placeholder="🔑 Old Password" required>
    <input type="password" name="new_password" placeholder="🆕 New Password" required>
    <input type="password" name="confirm_password" placeholder="✅ Confirm Password" required>

    <button type="submit">
        <i class="fa-solid fa-rotate"></i> Update
    </button>
</form>

<p>
    ❌ Don't want to change the password? 
    <a href="{% url 'profile' %}"><i class="fa-solid fa-caret-left"></i> Back</a>
</p>
</div>
{% endblock %}
